* {
  text-shadow: 0 2px 0 #ec9;
  text-align: center;
}

body {
  background: #e8e8e8;
  font-weight: bold;
  font: 20px 'Cambria';
  margin: 0;
  text-align: center;
}

.container {
  background-color: #e8e8e8;
  border: 1px solid #000000;
  max-width: 350px;
  margin: auto;
  padding: 25px;
}

.h1 {
  font-size: 60px;
  margin: 0;
  text-shadow: 0 2px 0 #fff;
}

.stopwatch {
  background: #f8f8f8;
  margin: 20px 0;
  padding: 20px;

  &-main {
    font-size: 80px;
  }

  &-diff {
    color: #fb647f;
    text-shadow: 0 1px 0 #000;
  }
}

.control-panel {
  margin: 20px 0;
}

.list {
  &-item {
    display: flex;
    align-items: center;

    &:hover {
      .actions {
        .delete {
          display: block;
        }
      }
    }

    .time {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 75%;

      &-main {
        color: #fb647f;
        font-size: 24px;
        text-shadow: 0 1px 0 #000;
      }
    }

    .actions {
      width: 25%;

      .delete {
        display: none;
        color: #ff0000;
        font-size: 11px;
        text-shadow: 0 2px 0 #fff;
        padding: 2px 10px;
        width: auto;
      }
    }
  }
}

button {
  background: #f8f8f8;
  border-radius: 18px;
  border: none;
  box-shadow: 0 0 2px #000, inset 0 0 2px #000;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  transition: all .4s;
  width: 100px;

  &:last-child {
    margin-right: 0;
  }

  &.inactive {
    cursor: default;
    opacity: .2;
  }
}
