<div class="container">
  <h1 class="h1">Stopwatch</h1>
  <div class="stopwatch">
    <div class="stopwatch-main" [appTime]="stopwatch.mainTime"></div>
    <div class="stopwatch-diff" [appTime]="stopwatch.mainTime - stopwatch.prevTime"></div>
  </div>
  <div class="control-panel">
    <button
      [innerText]="stopwatch.startFlag ? 'Play' : 'Pause'"
      (click)="onStart()"></button>
    <button
      [innerText]="'Split'"
      [ngClass]="{'inactive': stopwatch.startFlag}"
      (click)="onSplit()"></button>
    <button
      [innerText]="'Recycle'"
      [ngClass]="{'inactive': !stopwatch.resetFlag}"
      (click)="onReset()"></button>
  </div>
  <div class="list-item" *ngFor="let item of stopwatch.times; let i = index">
    <div class="time">
      <span class="time-main" [appTime]="item.mainTime"></span>
      <span class="time-diff" [appTime]="item.diffTime"></span>
    </div>
    <div class="actions">
      <button class="delete" (click)="onDeleteItem(i)">Delete</button>
    </div>
  </div>
</div>
